<% case @version %>
<% when 'all' %>
  <% @cmsfile.contents.each do |version, content| %>
    <p>--------------- <%= version %> -------------</p>
    <p><%= content %></p>
  <% end %>
<% when 'unspecified' %>
  <h4>Latest version</h4>
  <p>--------------- <%= @cmsfile.latest_content_pair.first %> -------------</p>
  <p><%= @cmsfile.latest_content_pair.last%></p>
<% else %>
  <p>--------------- <%= @version %> -------------</p>
  <p><%= @cmsfile.contents[@version]%></p>
<% end %>

<a href="/<%= @file_name %>/edit">Edit file</a>
<p>------------------------------------------------------------------------------</p>

<h4>Version list:</h4>
<ol>
  <li><a href="/<%= @file_name %>?version=all">View all in a page.</a></li>
  <% @cmsfile.contents.keys.each do |timestamp| %>
    <li><a href="/<%= @file_name %>?version=<%= timestamp %>"><%= timestamp %></a></li>
  <% end %>
</ol>

<form action="/<%= @file_name %>/keep_latest" method="post">
  <button type="submit">Delete all versions except for lastest version.</button>
</form>
