<h3>CMS App</h3>
<p id="header_line">--------------------------------------------------------------------<p>

<h4>Document List:</h4>
<ul id="doc_list">
  <% @files.each do |file| %>
    <li class="doc_item"><a href="/files/<%= file %>/<%= latest_version_of(file) %>"><%= file %></a>
      <a href="/files/<%= file %>/<%= latest_version_of(file) %>/edit">Edit</a>
    </li>
    <form class="inline_form" action="/<%= file %>/delete" method="post">
      <button type="submit">Delete</button>
    </form>
    <form class="inline_form" action="/<%= file %>/duplicate" method="post">
      <button type="submit">Duplicate File</button>
    </form>
  <% end %>
</ul>

<a href="/files/new">Create new document</a>

<% if !user_signed_in? %>
  <form action="/users/signin" method="get">
    <button type="submit">Sign in</button>
  </form>
  <form action="/users/signup" method="get">
    <button type="submit">Signup a new account</button>
  </form>
<% else %>
  <p id="user_status">Signed in as <%= session[:signin_as] %></p>
  <form action="/users/signout" method="post">
    <button type="submit">Sign out</button>
  </form>
  <!-- Form for uploading image -->
  <label>Upload Image: </label>
  <form action="/images/upload"
         method="post"
         id="form_upload_image"
         enctype="multipart/form-data"
         accept="image/png, image/jpeg, image/bmp, image/jpg, image/pdf">
    <input id="btn_upload_image" name="image_file" type="file">
    <button type="submit">Submit</button>
  </form>
<% end %>
